.section {
  background-color: #d6e6eb;
  padding: 20px;
}

.section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
}
.title {
  margin: 10px;
}

.section-title{
  display: flex;
}

.section-icon{
  height: 80px;
  margin-left: auto;
  margin-right: 20px;
}
